body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #212121;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

img {
  display: block;
}

.conteiner {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-link {
  display: block;
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: currentColor;
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.indent {
  margin-left: 94px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-border {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
.logo-span {
  color: #2196f3;
}

.logo:focus {
  outline: none;
}

.nav-item .item + .item {
  margin-left: 50px;
}

.current {
  position: relative;
  display: block;
  color: #2196f3;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
  outline: none;
}

.nav-link.current {
  color: #2196f3;
}

.item .current::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.contacts-header {
  color: #757575;
}

.contact-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-svg {
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.color-contact {
  color: #757575;
  fill: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-contact:hover,
.color-contact:focus {
  fill: #2196f3;
  color: #2196f3;
  outline: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #2f303a;
  text-align: center;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/bg-fon.png);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-text {
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  width: 696px;
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 10px 34px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-item {
  width: 270px;
  margin-right: 30px;
}

.about-item:nth-child(4n) {
  margin-right: 0;
}

.about-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.about-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}

.conteiner.about-text {
  margin-top: 0;
  padding-bottom: 0;
}

.general {
  margin: 0 auto;
  padding-bottom: 94px;
}

.general-title {
  margin: 0;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.general-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.general-item {
  max-width: 370px;
  margin-right: 30px;
}

.general-item:nth-child(3n) {
  margin-right: 0;
}

.general-overley {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.general-box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.general-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team {
  margin-top: 0;
  margin-bottom: 0;
}

.team-our {
  background: #f5f4fa;
  margin-right: auto;
  margin-left: auto;
}

.team-bgc {
  background-color: #ffffff;
}

.team-title {
  margin: 0;
  padding-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: #212121;
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-item {
  width: 270px;
  margin-right: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-name {
  padding: 30px 32px;
}

.team-name__title {
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  color: #212121;
}

.team-name__text {
  margin: 0;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  line-height: 1.9;
  color: #757575;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-social__item {
  margin-right: 10px;
}

.team-social__item:nth-child(4n) {
  margin-right: 0;
}

.team-social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon:hover,
.team-social__icon:focus {
  background-color: #2196f3;
  fill: #ffffff;
  background: #2196f3;
  fill: #ffffff;
  outline: none;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: #212121;
  padding-bottom: 50px;
}

.clients-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
  outline: none;
}

.footer {
  margin: 0;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #2f303a;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address {
  display: block;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 231px;
}

.logo-footer {
  display: inline-block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  margin-bottom: 20px;
}

.address-list {
  /* display: flex; */
  margin-top: 0;
  margin-bottom: 9px;
  padding: 0;
}

.address-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #2196f3;
  outline: none;
}

.address-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.action-footer {
  display: block;
  margin-left: 70px;
  width: 206px;
}

.action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.action__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.action__item {
  margin-right: 10px;
}
.action__item:nth-child(4n) {
  margin-right: 0;
}

.action__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.action__link:hover,
.action__link:focus {
  background: #2196f3;
  background: #2196f3;
  outline: none;
}

.subscribe {
  width: 570px;
  margin-left: 90px;
}

.subscribe-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
}

.subscribe-form__label {
  margin: 0 auto;
  padding: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.subscribe-form__write {
  padding: 15px 0 15px 16px;
  width: 358px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.3;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__write:hover {
  border-color: #2196f3;
}

.subscribe-form__write input::-webkit-input-placeholder {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__write input::-moz-placeholder {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__write input:-ms-input-placeholder {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__write input::-ms-input-placeholder {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__write input::placeholder {
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__write:not(:-moz-placeholder-shown) {
  overflow: hidden;
}

.subscribe-form__write:not(:-ms-input-placeholder) {
  overflow: hidden;
}

.subscribe-form__write:not(:placeholder-shown) {
  overflow: hidden;
}

.btn-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  padding: 10px 28px;
  margin-left: 12px;
}

.icon-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  fill: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-hero {
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: var(--black-text-color);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.close-btn:hover {
  fill: #2196f3;
}

.data {
  display: block;
  margin: 0;
  padding: 0;
  width: 528px;
}

.data__action {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin: 0 auto;
  padding: 0 auto;
  padding-top: 28px;
  margin-bottom: 30px;
}

.data-field {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0 auto;
  margin-bottom: 28px;
  width: 448px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.data-field__input {
  margin: 0;
  padding: 10px 12px 10px 42px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 100%;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
}

.data-field__text {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: #212121;
  margin: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.data-field:focus-within > .data-field__icon {
  fill: #2196f3;
}

.data-field:focus-within > .data-field__text {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  left: 0;
  padding-bottom: 4px;
}

.data-field:not(:focus-within) > .data-field__text {
  left: 42px;
}

.data-field__input:not(:-moz-placeholder-shown) + .data-field__text {
  transform: translateY(-35px);
  left: 0;
}

.data-field__input:not(:-ms-input-placeholder) + .data-field__text {
  transform: translateY(-35px);
  left: 0;
}

.data-field__input:not(:placeholder-shown) + .data-field__text {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  left: 0;
}

.data-field__input:focus {
  border-color: #2196f3;
}

.comment {
  margin-bottom: 20px;
}

.comment__text {
  display: block;
  position: relative;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.comment__input {
  position: absolute;
  top: 10%;
  left: 0%;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(117, 117, 117, 0.5);
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-field:focus-within > .comment__input {
  -webkit-transform: translate(0);
          transform: translate(0);
  left: 0;
  color: rgba(240, 248, 255, 0);
}

.comment-plh {
  width: 448px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  color: #212121;
}

.comment-plh:not(:-moz-placeholder-shown) + .comment__input {
  color: rgba(33, 149, 243, 0);
  overflow: hidden;
}

.comment-plh:not(:-ms-input-placeholder) + .comment__input {
  color: rgba(33, 149, 243, 0);
  overflow: hidden;
}

.comment-plh:not(:placeholder-shown) + .comment__input {
  color: rgba(33, 149, 243, 0);
  overflow: hidden;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  position: relative;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__checkbox:checked + .policy__icon {
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.policy__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  top: 20px;
  left: 52px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #212121;
  border-radius: 4px;
}

.policy__text {
  position: absolute;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  top: 20px;
  left: 77px;
  -webkit-transform: translate(0%, -40%);
          transform: translate(0%, -40%);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy__link {
  border-bottom: 1px solid #2196f3;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.btn-form {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
  margin-top: 30px;
}

.cards {
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  margin-bottom: 50px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 8px;
}

.btn-filter {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.6;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 32px;
  border: none;
  cursor: pointer;
  min-width: 73px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-filter:hover,
.btn-filter:focus {
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards-item:nth-child(3n) {
  margin-right: 0;
}

.cards-item:nth-child(n+7) {
  margin-bottom: 0;
}

.cards-link {
  display: block;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover,
.cards-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: none;
}

.cards-link:hover .overlay-text,
.cards-link:focus .overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 68px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.designat {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  margin-top: -4px;
}

.designat-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.designat-text {
  line-height: 1.9;
  color: #757575;
}/*# sourceMappingURL=main.css.map */